@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4">
        <a href="https://limeinst.com" target="_blank" class="ml-md-auto">Lime Instruments</a>
    </div>

    <div class="content px-4" style="max-width:1400px; margin:auto;">
        @Body
    </div>
</div>
